<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= tg[0].name %>  </title>
</head>
<body>
    <h2> <%= tg[0].name %> </h2>
    <h4>lon: <%= tg[0].lon %> </h4>
    <h4>lat: <%= tg[0].lat %> </h4>
    <h4>Correlation: <%= tg[0].correlation %> </h4>
    <h4>RMSE: <%= tg[0].rmse %> </h4>
    
</body>
</html>

<!-- 
    * things to add
    ** get flag of the country and some stats
    ** get some picture representing the country
 -->